#################################################################################################
#
#
# Comes with NO WARRANTY. AS IS. Exports all environment variables for AWS Elastic Beanstalks
#
commands:
    setvars:
        ignoreErrors: true
        command: cd /opt/elasticbeanstalk/bin/ && sudo /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' | sudo tee /etc/profile.d/sh.local > /dev/null
packages:
    yum:
        jq: []
